/* Dashboard.css */
.dashboard {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  width: 100vw;
  min-height: 100vh;
}

.main-content {
  margin-left: 110px;
  flex-grow: 1;
  padding: 2rem;
  background-color: #f6f7fb;
  
}

.cards {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.amount {
  font-size: 1.4rem;
  color: #272757;
}

.transactions ul {
  list-style: none;
  padding: 0;
}

.transactions li {
  background: white;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.logout-btn {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: linear-gradient(to right, #003366, #004080, #0059b3, #0073e6);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logout-btn:hover {
  filter: brightness(1.1);
}